.specific-search-result {
  border: 1px solid #c4c4c4;
  padding: 2%;
  height: 25%;
  margin: 2% 0;
  border-radius: 5px;
  width: 75%;
}

.search-result-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.name-and-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.star-rating {
  object-fit: contain;
}

.search-results-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.company-image {
  height: 150px;
  width: 200px;
  background-color: gray;
  margin: 0;
  object-fit: cover;
}

.search-results-content > article {
  margin-left: 3%;
}

h3 {
  color: black;
}

@media only screen and (max-width: 600px) {
  /* .company-image {
    width: 20%;
  } */

  .search-results-header {
    flex-direction: column;
  }
  .name-and-rating {
    flex-direction: column;
  }

  .star-rating {
    margin: 2% auto;
  }

  .search-results-content {
    flex-direction: column;
  }

  .specific-search-result {
    width: 95%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 767px) {
  /* .company-image {
    width: 20%;
  } */
  .star-rating {
    margin: 2% auto;
  }

  .specific-search-result {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* .company-image {
    width: 20%;
  } */
  .star-rating {
    margin: 2% auto;
  }

  .specific-search-result {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  /* .company-image {
    width: 20%;
  } */
  .star-rating {
    margin: 2% auto;
  }

  /* .specific-search-result {
    width: min-content;
  } */
}
