html {
  min-height: 100%;
  width: 1200px;
}

body {
  width: 100%;
  height: 100vh;
}

.App,
#root {
  height: 100vh;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  html {
    min-height: 100%;
    width: 100%;
  }

  .App,
  #root {
    width: 100%;
  }

  body {
    width: 100%;
    height: 100vh;
  }
}

@media only screen and (min-width: 601px) {
  .App,
  #root,
  body,
  html {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .App,
  #root,
  body,
  html {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .App,
  #root,
  body,
  html {
    width: 100%;
  }
}
