.stylist-header {
}

.stylist-container {
  border: 1px solid #c4c4c4;
  padding: 2%;
  height: 70%;
  width: 60%;
  margin: 2% auto;
  border-radius: 5px;
}

.stylist-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.stylist-name-and-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.star-rating {
  object-fit: contain;
}

.stylist-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.stylist-company-image {
  height: 70%;
  /* width: 60%; */
  /* background-color: gray; */
  margin: 0;
  object-fit: contain;
}

.stylist-company-figure {
  /* height: 50%;
  width: 50%;
  background-color: gray;
  margin: 0; */
}

.stylist-content > article {
  margin-left: 5%;
}

h3 {
  color: black;
}
