.modal-nav {
  background-color: #d41134;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  justify-content: space-around;
}

.modal-nav-list {
  display: flex;
  flex-direction: column;
}

.modal-nav-items:focus {
  border-bottom: 2px solid white;
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5%;
}
