.search-results-container {
  width: 80%;
  margin: 2% auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.sort-by-box {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 25%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 2%;
  visibility: hidden;
}

.sort-by-box > p {
  margin-top: 0;
}

.sort-by-box > label {
  margin: 4% 0;
}

.all-search-results {
  width: 70%;
  margin: 2%;
}

@media only screen and (max-width: 600px) {
  .search-results-container {
    width: 100%;
  }

  .sort-by-box {
    display: none;
  }

  .all-search-results {
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 601px) {
  .search-results-container {
    width: 100%;
  }

  .sort-by-box {
    display: none;
  }

  .all-search-results {
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  .search-results-container {
    width: 100%;
  }

  .sort-by-box {
    display: none;
  }

  .all-search-results {
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  .search-results-container {
    width: 100%;
  }

  .sort-by-box {
    display: flex;
  }
}
