.contact-form {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  width: 60%;
}

.contact-form-labels {
  display: flex;
  flex-direction: column;
}

.contact-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 2% 0;
}

.contact-form-button {
  display: flex;
  justify-content: space-around;
  margin: 10% 0;
}

.form-input-field {
  border: 2px solid gray;
}

.name-input,
.message-input,
.email-input {
  width: 100%;
}

.message-input {
  height: 50%;
}

@media only screen and (max-width: 600px) {
  .contact-form {
    width: 90%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  .contact-form {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-form {
    width: 90%;
  }
}

@media only screen and (min-width: 1200px) {
}
