.style-section-container {
  width: 50%;
  margin: 5% auto;
  min-height: 100vh;
}

.style-link {
  color: #d41134;
}

.style-image {
  width: 40%;
}

.style-figure {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .style-section-container {
    width: 90%;
  }

  .style-image {
    width: 80%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  .style-section-container {
    width: 90%;
  }

  .style-image {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .style-section-container {
    width: 80%;
  }

  .style-image {
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
}
